@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    font-family: 'Libre Caslon Text', sans-serif;
}

header, nav, section, main, aside, footer {
    display: flex;
}

header{
    flex: 1 1 100vw;
    height: 8vh;
    background: rgb(175, 206, 161);
}

header img{
    border-radius: 100%;
    margin: 5px;
}

#abrirMenu, #fecharMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}
    
nav {
    flex: 1 1 100vw;
    justify-content: flex-end;
    align-items: center;
    background: rgba(175, 206, 161, 0.80);
}

nav a{
    padding: 1%;
    font-size: 20px;
    color: white;
    font-weight: 800;
    text-shadow: 1px 5px 10px rgba(37, 37, 37, 0.336);
}

nav a:hover{
    color: rgb(57, 143, 23);
    transform: scale(1.2);
}

.slogan-e-carrosel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
    width: 100vw;
    background-color: rgb(154, 175, 146);
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    color: #ffffff;
    text-shadow: 1px 5px 10px rgba(37, 37, 37, 0.336);
}

.slogan h1, .slogan h3{
    padding: 30px 0px 20px 0px;
}


.carrosel {
    width: 50vw;
    text-align: center;
}

.carousel-item img {
    width: 500px;
    height: 400px;
    box-shadow: 1px 5px 10px rgba(37, 37, 37, 0.336)
}

main {
    flex: 1 1 100vw;
    flex-direction: column;
}

.serviços{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(154, 175, 146, 0.90);
    padding: 5px;
    max-width: 100vw;
}

.quadroDeServicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55vw;
}

.serviços img{
    display: flex;
    justify-content: center;
    width: 35vw;
    height: auto;
    margin-left: 40px;
}

.serviços h2{
    font-size: 24px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    letter-spacing: 4px;
    text-shadow: 1px 5px 10px rgba(37, 37, 37, 0.479);
    padding: 10px;
}

.serviços p{
    font-size: 16px;
    padding: 10px;
    color: white;
    text-shadow: 1px 5px 10px rgba(7, 7, 7, 0.562);
}

table{
    text-align: center;
    font-size: 14px;
    border-collapse: collapse;
}

table thead th{
    background-color: rgb(58, 95, 43);
    color: white;
    font-weight: bold;
    width: 40vw;
    text-shadow: 1px 5px 10px rgba(37, 37, 37, 0.336);
    text-transform: uppercase;
}

table td{
    color: #ffffff;
    padding: 10px;
    width: 40vw;
    text-shadow: 1px 5px 10px rgba(37, 37, 37, 0.336);
    font-weight: 400;
}

table, th, td{
    border: 1px solid rgb(125, 184, 101);
    padding: 5px;
}

table tr:nth-child(even){
    background-color: rgb(107, 158, 87);
}

tbody tr:hover{
    background-color: rgb(170, 209, 154);
}

aside{
    flex: 1 1 100vw;
    height: auto;
    justify-content: space-between;
    background: rgb(125, 184, 101);
}

aside .sobre{
    display: flex;
    flex: 1 2 50vw;
    background: rgb(154, 175, 146);
    align-items: center;
    justify-content: center;
}

.textosSobre{
    color: white;
    font-size: 12pt;
    text-align: center;
}

.textosSobre h2{
    font-size: 24px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-weight: 800;
    text-shadow: 1px 5px 10px rgba(37, 37, 37, 0.336);
    text-transform: uppercase;
}

.jorgeperfil {
    width: 40vw;
    height: 50vh;
    margin: 0px 35px;
    border-radius: 5px;
    box-shadow: 0px 10px 40px rgba(44, 44, 44, 0.356);
}

.contato{
    flex: 1 2 50vw;
    background: rgba(154, 175, 146, 0.90);
    text-align: center;
    justify-content: center;
}

.contato a:hover{
    color: rgb(60, 156, 22);
}

iframe{
    width: 30vw;
    height: 40vh;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
    box-shadow: 0px 10px 40px rgba(44, 44, 44, 0.356);
}

footer{
    flex: 1 0 100vw;
    justify-content: center;
    align-items: flex-end;
}

a, ul {
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}

@media only screen and (max-width: 1090px){
    aside{
        flex-wrap: wrap;
        flex-direction: column;
    }
}


@media only screen and (max-width: 717px){
    #abrirMenu, #fecharMenu{
        display: block;
    }

    #abrirMenu{
      margin-Left: auto;
    }

    #fecharMenu{
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav{
        position: fixed;
        z-index: 99;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255, 0.9);
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: right 0.3s ease, opacity 0.3s ease;
    }

    nav.menu-aberto {
        right: 0;
        opacity: 1;
    }

    aside{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    iframe, .jorgeperfil{
        flex-direction: column;
        width: 100vw;
        height: auto;
        margin: 0;
    }

    .slogan-e-carrosel {
        flex-direction: column; 
        text-align: center; 
    }

    .slogan, .carrosel {
        width: 100%; 
    }

    .slogan {
        margin-right: 0;
    }

    .serviços {
        flex-direction: column;
        text-align: center;
        margin-top: 10px; 
        margin: 0;
    }

    .sobre{
        flex-direction: column;
        padding: 40px;
    }

    iframe{
        width: 90%;
        height: 300px;
    }

    footer{
        text-align: center;
    }
}
